# Ignore everything
*

# But not Java files...
!.gitignore
!*.java
!README.md
!LICENSE
!gradlew.bat
!gradlew
!build.gradle.kts
!.travis.yml
!settings.gradle
!checkstyle.xml
!.codeclimate.yml

!src/test/*/*.lua
!gradle/wrapper/*

!profiling/*.*
!profiling/*/*.*

!tank/*.md
!tank/*.yaml

!bonus/script.js

# ...even if they are in subdirectories
!*/
